body
{
background: linear-gradient(to right,  #8e9eab, #eef2f3); 
}
.title{
    font-variant: small-caps;
    text-align: center;
    font-style: italic;
    color:blueviolet;
}
.menu-bar{
    /*overflow: hidden;*/
    position: sticky;
    top: 0px;
    border: 2px solid blue;
    background-color:blue;
    height: 50px;
    padding-top: 10px;
    width: 100%;
}
.menu-item{
    font-size: 20px;
    line-height: inherit;
    font-variant: small-caps;
    margin-left: 40px;
    margin-top: 25px;
    cursor: pointer;
}
.logsign{
    float:right;
    margin-top: 0;
    margin-right: 40px;
    font-size: 20px;
    line-height: inherit;
    font-variant: small-caps;
    cursor: pointer;
}
.active{
    border: 2px solid aqua;
    background-color:aqua;
    width:auto;
    padding:0 0 9px 0;
}
.active1{
    border: 2px solid aqua;
    background-color:aqua;
    width:auto;
    padding-bottom: 6px;
}
.link1{
    color: black;
}
.link1:hover{
    color: black;
    text-decoration: none;
}