.more-item{
    float:right;
    font-weight: bold;
    padding:5px;
    margin-top: 10px;
    font-size: 15px;
}
.link-more{
    color:white;
}
.link-more:hover{
    color:white;
    text-decoration: none;
}
.btn-info{
    font-weight: bold;
    width:inherit;
    padding:5px;
}
.lowerItem{
    border-left: 1px solid black;
    padding-left: 30px;
    font-weight: bold;
    padding-right: 10px;
}
.label{
    margin-right: 10px;
}
.list1{
    list-style-type: none;
    background-color: black;
    padding: 5px;
    text-align: center;
    margin-top:5px;
    width:300px;
}
.list1:hover{
    list-style-type: none;
    padding: 5px 140px 5px 120px;
    z-index: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.link11{
    color: white;
}
.link11:hover{
    color: black;
    background-color: black;
    text-decoration: none;
}
.active{
    opacity:0.8;
    background-color:darkblue; 
    padding: 5px 140px 5px 120px;
}

.nav{
    margin-left: 10px;
}
.container-float{
    margin-top: 30px;
    z-index: 0;
    overflow-x: hidden;
}
.image1{
    max-width: 300px;
    height:250px;
    width:inherit;
}
/*Display more items*/
.display1{
    display: none;
}
.display2{
    display: block;
}
@media screen and (max-width:600px){
#myScroll{
    display: none;
}
.display1{
    display: block;
}
.display2{
    display: none;
}
    .display-items{
        display: none;
    }
}
.sec1{
    border:1px solid black;
    max-width: 310px;
    padding: 5px;
    z-index: 0;
    margin-top: 95px;
}
.sec2{
    border:1px solid black;
    max-width: 310px;
    padding: 5px;
    z-index: 0;
    margin-top: 90px;
}
.sec3{
    border:1px solid black;
    max-width: 310px;
    padding: 5px;
    z-index: 0;
    margin-top: 95px;
}
.sec4{
    border:1px solid black;
    max-width: 310px;
    padding: 5px;
    z-index: 0;
    margin-top: 90px;
}
.sec{
    border:1px solid black;
    max-width: 310px;
    padding: 5px;
    z-index: 0;
}
.linkRest{
    color:black;
}
.linkRest:hover{
    color:black;
    text-decoration: none;
}

.col-lg-3{
    margin-bottom:40px;
}
/*.sec:hover,.sec1:hover,.sec2:hover,.sec3:hover,.sec4:hover{
    cursor: pointer
}*/
/*.col-lg-3:hover{
    border: 1px solid gray;
    padding:39px;
}
.col-lg-3{
    padding:20px;
}
.col-sm-12:hover{
    border: 1px solid gray;
    padding:19px;
}
/*.midcol{
margin-left: 40px;
    margin-right: 40px;
}*/
.titlerest{
    font-variant: small-caps;
    color:gray;
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
}

/*For Login Dialogue Box*/
/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

img.btn_close {
    Position the close button
	float: right;
    margin: -28px -28px 0 0;
}

fieldset {
    border: none;   
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #666666;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

form.signin input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

.button1 {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    width: 214px;
}

.button1:hover {
    background: #ddd;
}
img.btn_close {
    float:right;
    top:0;
	margin-right: -35px;
    margin-top:-65px;
}
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}
fieldset { 
	border:none; 
}
.forgot{
    color:black;
}
.forgot:hover{
    color:black;
    text-decoration: none;
}
.back
{
    border: 4px solid gray;
    background-color: blue;
    max-width: 300px;
    width:auto;
    padding: 50px 25px 50px 13px;
}
input[type=submit]
{
    border: 2px solid lightgray;
    padding: 5px 10px 5px 10px;
}
input[type=submit]:hover
{
    border: 2px solid lightgray;
    padding: 5px 10px 5px 10px;
    background-color:lightgray;
}
.link2{
    color: black;
    display: inline;
}
.link2:hover{
    color: black;
    text-decoration: none;
}
.iconlog{
    background-color: lightgray;
    padding:5px;
}
.input1{
    margin-bottom: 25px;
    width: 220px;
    color:black;
    
}
.input2{
    margin-bottom: 15px;
    width:250px;
}
.input3{
    margin-bottom: 20px;
    width:250px;
}
.titlelog{
    font-variant: small-caps;
    margin:auto;
    color:black;
    margin-bottom: 25px;
}
.smalltit{
    font-variant: small-caps;
    font-size: 13px;
    text-align: left;
    margin-left: 18px;
    color:black;
}
/*Login End*/