.btn-info{
    font-weight: bold;
    width:inherit;
    padding:5px;
}
.lowerItem{
    border-left: 1px solid black;
    padding-left: 30px;
    font-weight: bold;
    padding-right: 10px;
}
.label{
    margin-right: 10px;
}
.list1{
    list-style-type: none;
    background-color: black;
    padding: 5px;
    text-align: center;
    margin-top:5px;
    width:400px;
}
.list1:hover{
    list-style-type: none;
    padding: 5px;
    z-index: 0;
}
.link11{
    color: white;
}
.link11:hover{
    color: black;
    text-decoration: none;
}
.active{
    opacity:0.5;
    background-color:blue; 
    padding: 5px 170px 5px 158px;
}

.nav{
    margin-left: 10px;
}
.container-float{
    margin-top: 30px;
    z-index: 0;
    overflow-x: hidden;
}
.image1{
    max-width: 300px;
    height:250px;
    width:inherit;
}
@media screen and max-width:600px{
nav{
    display: none;
}
}
.sec1{
    border:1px solid black;
    max-width: 310px;
    padding: 5px;
    z-index: 0;
    margin-top: 95px;
}
.sec2{
    border:1px solid black;
    max-width: 310px;
    padding: 5px;
    z-index: 0;
    margin-top: 90px;
}
.sec3{
    border:1px solid black;
    max-width: 310px;
    padding: 5px;
    z-index: 0;
    margin-top: 95px;
}
.sec4{
    border:1px solid black;
    max-width: 310px;
    padding: 5px;
    z-index: 0;
    margin-top: 90px;
}
.sec{
    border:1px solid black;
    max-width: 310px;
    padding: 5px;
    z-index: 0;
}
.col-lg-3{
    margin-bottom:40px;
}
/*.sec:hover,.sec1:hover,.sec2:hover,.sec3:hover,.sec4:hover{
    cursor: pointer
}*/
/*.col-lg-3:hover{
    border: 1px solid gray;
    padding:39px;
}
.col-lg-3{
    padding:20px;
}
.col-sm-12:hover{
    border: 1px solid gray;
    padding:19px;
}
/*.midcol{
margin-left: 40px;
    margin-right: 40px;
}*/
.titlerest{
    font-variant: small-caps;
    color:gray;
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
}
